In [6]:
import pandas as pd
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV

In [7]:
titanic_url = ('https://raw.githubusercontent.com/amueller/'
               'scipy-2017-sklearn/091d371/notebooks/datasets/titanic3.csv')
data = pd.read_csv(titanic_url)

In [9]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
data.

array([[1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [1]:
t = {'best_score': -43456848.031602085, 'best_params': {'normalize': False}, 'train_explained_variance_score': 0.7560736456731171, 'train_r2_score': 0.7560736456731171, 'train_median_absolute_error': 5059.982593358509, 'train_mean_squared_error': 94607209.18458098, 'train_mean_absolute_error': 6933.867750285123, 'test_explained_variance_score': 0.7437769807842591, 'test_r2_score': 0.7434240999899306, 'test_median_absolute_error': 5006.012289210321, 'test_mean_squared_error': 96536757.70212728, 'test_mean_absolute_error': 6917.4380231257455, 'time_seconds': 3.8469021320343018}

In [3]:
print(t)

{'best_score': -43456848.031602085, 'best_params': {'normalize': False}, 'train_explained_variance_score': 0.7560736456731171, 'train_r2_score': 0.7560736456731171, 'train_median_absolute_error': 5059.982593358509, 'train_mean_squared_error': 94607209.18458098, 'train_mean_absolute_error': 6933.867750285123, 'test_explained_variance_score': 0.7437769807842591, 'test_r2_score': 0.7434240999899306, 'test_median_absolute_error': 5006.012289210321, 'test_mean_squared_error': 96536757.70212728, 'test_mean_absolute_error': 6917.4380231257455, 'time_seconds': 3.8469021320343018}

In [5]:
import pprint

In [6]:
pprint.pprint(t)

{'best_params': {'normalize': False},
 'best_score': -43456848.031602085,
 'test_explained_variance_score': 0.7437769807842591,
 'test_mean_absolute_error': 6917.4380231257455,
 'test_mean_squared_error': 96536757.70212728,
 'test_median_absolute_error': 5006.012289210321,
 'test_r2_score': 0.7434240999899306,
 'time_seconds': 3.8469021320343018,
 'train_explained_variance_score': 0.7560736456731171,
 'train_mean_absolute_error': 6933.867750285123,
 'train_mean_squared_error': 94607209.18458098,
 'train_median_absolute_error': 5059.982593358509,
 'train_r2_score': 0.7560736456731171}